vcl 4.0;

import std;
import directors;

sub vcl_init {
    new bar = directors.round_robin();
{% if flightdeck_varnish.backends is defined %}
{% for _backend in flightdeck_varnish.backends %}
    bar.add_backend({{ _backend.name }});
{% endfor %}
{% else %}
    bar.add_backend(default);
{% endif %}
}

include "/etc/varnish/backend.vcl";
include "/etc/varnish/acl.vcl";
include "/etc/varnish/recv.vcl";
include "/etc/varnish/deliver.vcl";
include "/etc/varnish/hit.vcl";
include "/etc/varnish/hash.vcl";
include "/etc/varnish/beresp.vcl";
include "/etc/varnish/pipe.vcl";
include "/etc/varnish/beerr.vcl";
