acl purge {
{% for _backend in flightdeck_varnish.backends | default(flightdeck_varnish_defaults.backends) %}
  "{{ _backend.host }}";
{% endfor %}
}

# List of upstream proxies we trust to set X-Forwarded-For correctly.
acl upstream_proxy {
{% for _proxy in flightdeck_varnish.upstreamProxies | default(flightdeck_varnish_defaults.upstreamProxies) %}
  "{{ _proxy }}";
{% endfor %}
}
