# Called when a cache lookup is successful.
sub vcl_hit {
  set req.http.X-Varnish-Ttl = obj.ttl;

  // Serve an object in grace.
  if ( obj.ttl + 60s > 0s ) {
    set req.http.X-Varnish-Grace = "normal";
    return (deliver);
  }

  // Allow varish to serve up stale content if all backends are down */
  if (!std.healthy(req.backend_hint) && obj.ttl + obj.grace > 0s) {
    set req.http.X-Varnish-Grace = "extended";
    return (deliver);
  }
}
